a {
  text-decoration: none;
  color: black;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 36px 0;
}

.logo-image {
  height: 180px;
  padding: 24px;
}

.logo {
  align-self: center;
  font-size: 28px;
  display: flex;
  align-items: center;
}

.logo > p {
  font-size: 44px;
  margin: 0 0 8px 5px;
}

.search {
  display: flex;
  flex-direction: column;
}

.search-bar {
  align-self: center;
  height: 30px;
  width: 360px;
  font-size: 16px;
  border-radius: 2px;
  border: 1px solid rgb(160, 160, 160);
  font-family: sans-serif;
  outline: none;
  padding: 3px 0px 3px 6px;
  margin: 5px 1px 3px 0px;
}

.search-bar:focus {
  border: 2px solid #437ff5;
  margin: 4px 0px 3px -1px;
}

.results {
  border: 1px solid rgb(160, 160, 160);
  border-bottom: none;
  margin: 16px;
  border-radius: 2px;
}

.result {
  border-bottom: 1px solid rgb(160, 160, 160);
  min-height: 56px;
  background: rgb(241, 241, 241);
}

.result:hover {
  background: white;
}

.result > a {
  height: 100%;
  display: block;
  padding: 6px;
  font-family: sans-serif;
}

.title {
  font-weight: 700;
  margin: 0 0 4px;
  font-size: 16px;
  color: rgb(36, 36, 36);
}

.description {
  color: rgb(83, 83, 83);
  font-size: 15px;
}

.loading {
  align-self: center;
  font-family: "Courier New", Courier, monospace;
  color: rgb(80, 80, 80);
}

.footer {
  height: calc(100vh - 368px);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  font-family: sans-serif;
  font-size: 12px;
}
